<!DOCTYPE html>
<html>
<head>
    <title>
        404 not found!
    </title>


    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    
</head>
<body>

    <div id="page">
        <div class="nav">
            <div class="header-left">
                <div class="header-image"><img src="{{url_for('static', filename='face.png')}}" align="middle" /></div>
                <div class="nav-title">ComiCosmic</div>
            </div>
            <div class="nav-menu">
                <a class="nav-links" href="talent.html">Talent</a>
                <a class="nav-links" href="about.html">About</a>
                <a class="nav-links" href="policy.html">Policy</a>
                <a class="nav-links" href="contact.html">Contact</a>
            </div>
        </div>
    
    
        <div class="content">
            404 not found!
        </div>
        
    
    </div>
</body>
</html>