<!DOCTYPE html>
<html>
<head>
    <title>
        About Us
    </title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    
</head>
<body>

    <div id="page">
        <div class="nav">
            <div class="header-left">
                <div class="header-image"><a href="/"><img src="{{url_for('static', filename='station.png')}}" align="middle" class="home-image"/></a></div>
                <div class="nav-title"><a href="/">ComiCosmic Colony</a></div>
            </div>
            <div class="nav-menu">
                <a class="nav-links" href="/talent">Talent</a>
                <a class="nav-links" href="/about">About</a>
                <a class="nav-links" href="/policy">Policy</a>
                <a class="nav-links" href="/contact">Contact</a>
            </div>
        </div>
    
    
        <div class="content">
            <div id="content-sidebar">
                <div class="header-image"><img src="{{url_for('static', filename='face.png')}}" align="middle" /></div>
 
            </div>
            <div id="content-body">
                <h1 class="content-header">About Us</h1>
                <p class="content-text">Welcome to the web site for sharing information about our Vtuber characters! This site will link to all artists and their Twitch.tv channels for you to explore. Click on Talent to find out more!</p>
            </div>

        </div>
        
    
    </div>
</body>
</html>