<!DOCTYPE html>
<html>
<head>
    <title>
        Edit a News Post
    </title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    
</head>
<body>

    <div id="page">
        <div class="nav">
            <div class="header-left">
                <div class="header-image"><a href="/"><img src="{{url_for('static', filename='station.png')}}" align="middle" class="home-image"/></a></div>
                <div class="nav-title"><a href="/">ComiCosmic Colony</a></div>
            </div>
            <div class="nav-menu">
                <a class="nav-links" href="/talent">Talent</a>
                <a class="nav-links" href="/about">About</a>
                <a class="nav-links" href="/policy">Policy</a>
                <a class="nav-links" href="/contact">Contact</a>
            </div>
        </div>
    
    
        <div class="content">
            
            <div id="content-body">
                <h1 class="content-header">Edit This Post</h1>
                <div class="submit-form">
                    <form class="submit-form" method="post" action="/update">
                        <input type="hidden" name="posted_by" value={{session.user_id}}>
                        <input type="hidden" name="id" value={{post.id}}>
                        <label for="header" class="form-label" >Header:</label>
                        <input type="text" name="header" class="form-input" value="{{post.header}}"></input>
                        <label for="message" class="form-label" >Message:</label>
                        <textarea name="message" class="form-input">{{post.message}}</textarea>
                        <button class="btn">Submit</button>
                        
                    </form>
                </div>
            </div>
            

        </div>
        
    
    </div>
</body>
</html>