<!DOCTYPE html>
<html>
<head>
    <title>
        ComiCosmic Colony
    </title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
</head>
<body>
<div id="page">
    <div class="nav">
        <div class="header-left">
            <div class="header-image"><a href="/"><img src="{{url_for('static', filename='face.png')}}"  /></a></div>
            <div class="nav-title"><a href="/">ComiCosmic</a></div>
        </div>
        <div class="nav-menu">
            <a class="nav-links" href="/talent">Talent</a>
            <a class="nav-links" href="/about">About</a>
            <a class="nav-links" href="/policy">Policy</a>
            <a class="nav-links" href="/contact">Contact</a>
        </div>
    </div>

    <div class="hero-image">
        <img class="hero-image" src="{{url_for('static', filename='face.png')}}"  />
    </div>

    <div class="content">       
        <div id="content-body">
            <h2 class="content-header">News</h2>
            <p class="content-text">
                Content of a news post
            </p>            
        </div>
        
    </div>
    

</div>

</body>
</html>