<!DOCTYPE html>
<html>
<head>
    <title>
        Lita's Page
    </title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    
</head>
<body>

    <div id="page">
        <div class="nav">
            <div class="header-left">
                <div class="header-image"><a href="/"><img src="{{url_for('static', filename='face.png')}}"  /></a></div>
                <div class="nav-title"><a href="/">ComiCosmic</a></div>
            </div>
            <div class="nav-menu">
                <a class="nav-links" href="/talent">Talent</a>
                <a class="nav-links" href="/about">About</a>
                <a class="nav-links" href="/policy">Policy</a>
                <a class="nav-links" href="/contact">Contact</a>
            </div>
        </div>
    
    
        <div class="content">
            <div id="content-sidebar">
                <div class="header-image"><img src="{{url_for('static', filename='face.png')}}"  /></div>

            </div>
            <div id="content-body">
                Lita's stream can be found at <a href="http://twitch.tv/litagemini">Twitch.TV/Litagemini</a>
                On Twitter: <a href="http://www.twitter.com/lita_gemini">Lita_gemini</a>
            </div>

        </div>
        
    
    </div>
</body>
</html>