<!DOCTYPE html>
<html>
<head>
    <title>
        Lita's Page
    </title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    
</head>
<body>

    <div id="page">
        <div class="nav">
            <div class="header-left">
                <div class="header-image"><a href="/"><img src="{{url_for('static', filename='station.png')}}" align="middle" class="home-image"/></a></div>
                <div class="nav-title"><a href="/">ComiCosmic Colony</a></div>
            </div>
            <div class="nav-menu">
                <a class="nav-links" href="/talent">Talent</a>
                <a class="nav-links" href="/about">About</a>
                <a class="nav-links" href="/policy">Policy</a>
                <a class="nav-links" href="/contact">Contact</a>
            </div>
        </div>
    
    
        <div class="content">
            <div id="content-sidebar">
                <div class="header-image"><img src="{{url_for('static', filename='lita_face.png')}}" class="bio-image" /></div>

            </div>
            <div id="content-body">
                <p>Lita's stream can be found at <a href="http://twitch.tv/litagemini" class="inline-link">Twitch.TV/Litagemini</a></p>
                <p>On Twitter: <a href="http://www.twitter.com/lita_gemini" class="inline-link">Lita_gemini</a></p>
                
                <div class="calendar">
                    {% for event in data.data.segments %}
                    <div class="calendar-block">
                        <div class="calendar-item"> {{ event.start_time }}</div>
                        <div class="calendar-title">  {{ event.title }}</div>
                        <div class="calendar-item"> {{ event.category.name }}</div>
                    </div>
                    {% endfor %}
                </div> 
            </div>
            

        </div>
        
    
    </div>
</body>
</html>