<!DOCTYPE html>
<html>
<head>
    <title>
        ComiCosmic - Policies
    </title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    
</head>
<body>

    <div id="page">
        <div class="nav">
            <div class="header-left">
                <div class="header-image"><img src="{{url_for('static', filename='face.png')}}" align="middle" /></div>
                <div class="nav-title">ComiCosmic</div>
            </div>
            <div class="nav-menu">
                <a class="nav-links" href="/talent">Talent</a>
                <a class="nav-links" href="/about">About</a>
                <a class="nav-links" href="/policy">Policy</a>
                <a class="nav-links" href="/contact">Contact</a>
            </div>
        </div>
    
    
        <div class="content">
            <div id="content-sidebar">
                <div class="header-image"><img src="{{url_for('static', filename='face.png')}}" align="middle" /></div>
 
            </div>
            <div id="content-body">
                <h1 class="content-header">Policy</h1>
                <p class="content-text">Privacy and Policies</p>
            </div>

        </div>
        
    
    </div>
</body>
</html>