<!DOCTYPE html>
<html>
<head>
    <title>
        Talent
    </title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    
</head>
<body>

    <div id="page">
        <div class="nav">
            <div class="header-left">
                <div class="header-image"><a href="/"><img src="{{url_for('static', filename='face.png')}}"  /></a></div>
                <div class="nav-title"><a href="/">ComiCosmic</a></div>
            </div>
            <div class="nav-menu">
                <a class="nav-links" href="/talent">Talent</a>
                <a class="nav-links" href="/about">About</a>
                <a class="nav-links" href="/policy">Policy</a>
                <a class="nav-links" href="/contact">Contact</a>
            </div>
        </div>
    
    
        <div class="content">
            <div id="content-sidebar">
                <div class="header-image"><img src="{{url_for('static', filename='lita_face.png')}}" class="bio-image" /></div>

            </div>
            <div id="content-body">
                <h1 class="content-header">Lita Gemini</h1>
                <p class="content-text"><a href="/member-1" class="inline-link">Member Page and Schedule</a></p>
                <p>Twitch: <a href="http://www.twitch.tv/litagemini" class="inline-link">Twitch/LitaGemini</a></p>
                <p>Twitter: <a href="http://twitter.com/lita_gemini" class="inline-link">Lita_Gemini</a></p>
            </div>

        </div>
        
    
    </div>
</body>
</html>