[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
flask = "*"
flask-bcrypt = "*"
rfc3339 = "*"
iso8601 = "*"

[dev-packages]

[requires]
python_version = "3.7"
